<div>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-4">
        <p><%=displayName %> File (<%=upload%> format)</p>
        <input type="file" class="form-control" name="file" required />
      </div>
    </div>
    <hr class="dotted">
    <div class="form-group l-mar-10">
      <button class="btn btn-theme" type="submit">Next</button>        
    </div>
  </form>
</div>
