<% for (section in help) { %>
  <h3><%= section %></h3>

  <%- render(help[section].welcome) %>
  <% if (help[section].detail) { %>
    <p><a href="/admin/help/<%=section%>"Read more</a></p>
  <% } %>
<% } %>
