<% if(typeof nav != "undefined") { %>

    <ul class="nav" id="side-menu">
        <!--<li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div> -->
            <!-- /input-group -->
        <!-- </li>-->
        <% nav.forEach(function(item) { %>
            <li>
                <a class="<%= item.opts.class %>" href="<%= item.path %>"><i class="<%= item.opts.iconClass %>"></i> <%= item.title %> </a>
            </li>
        <% }) %>
    </ul>

<% } %>