<!DOCTYPE html>
<html lang="en">
<%- render('admin-head') %>
<body>
    <div id="wrapper">
        <%- render('admin-nav') %>
        <%- content %>
    </div>
    <!-- /#wrapper -->
    <%- render('admin-scripts') %>
</body>
</html>